<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>data对象学习</title>
</head>
<body>
    <div id="app">
        {{message}}
        <h1>{{school.name}}{{school.mobile}}</h1>
        <ul>
            <li>{{campus[0]}}</li>
            <li>{{campus[1]}}</li>
       
        </ul>
    </div>
     <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
      var app = new Vue({
          el:"#app",
          data:{
              message:"data对象学习",
              school:{
                  name:"学校名字",
                  mobile:"电话"
              },
              campus:[
                  "广州",
                  "深圳"
              ]
          }
      })
  </script>
</body>