<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
  <!--3.使用组件-->
  <my-cpn></my-cpn>
  <my-cpn></my-cpn>
  <my-cpn></my-cpn>
</div>
</body>
<script>
  // 1.创建组件构造对象
  const myComponent = Vue.extend({
    template: `
      <div>
        <h2>组件 标题</h2>
        <p>我是组件中的一个段落</p>
      </div>
    `
  });
  // 2.注册组件
  Vue.component('my-cpn', myComponent);
  var app = new Vue({
    el: "#app"
  })
</script>
</html>
