<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id = "app">
<cpn @increment="changeTotal" @decrement="changeTotal"></cpn>
  <h2>点击次数：{{total}}</h2>
</div>
</body>
<!--1.定义子组件模板-->
<template id ="cpn">
  <div>
    <button @click="increment">+1</button>
    <button @click="decrement">-1</button>
  </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data:{
     total:0
    },
    methods:{
      changeTotal(counter){
        this.total = counter;
      }
    },
    components:{
      cpn:{
        template:"#cpn",
        data(){
          return {
            count:0
          }
        },
        methods:{
          increment(){
            this.count++;
            this.$emit('increment',this.count)
          },
          decrement(){
            this.count --;
            this.$emit('decrement',this.count);
          }
        }
      }
    }
  })
</script>
</html>
